@model  Assesment.Models.GuessModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GameLost</title>
</head>
<body>
    <div>
        @Model.Message
    </div>
</body>
</html>
